:root{
  --transition: .3s;
  --pr: #f1f5f9;
  --se: #ff6157;
  --te: rgb(60, 138, 255);
  --rgbte: 60, 138, 255;
  --fo: #292929;
  --yellow: #f5ff57;
  --fi: #5acb96;
  --fs: 20px;
  --br: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
  font-family: 'ysabeau';
}

body{
  background: var(--pr) !important;
}

/* Start Bootstrap Fixes */

.navbar-toggler{
  background-color: var(--te);
}

.home-team .collapse:not(.show){
  display: none !important;
}

.carousel-indicators button{
  width: 0 !important;
  padding: 5px 7px !important;
  border-radius: 50%;
}

.carousel-item{
  max-height: 450px;
}


.carousel-caption{
  left: 0 !important;
  background-color: rgba(var(--rgbte), 0.3);
  width: 100%;
  padding: 25px 0;
}

.card{
  width: 350px;
  max-height: 500px;
  background-color: var(--fo) !important;
  box-shadow: 0px 0px 5px #ddd;
}

.card img{
  max-height: 325px;
}

.card h6{
  color: var(--pr);
  transition: var(--transition);
}

.card-subtitle a{
  text-decoration: none;
}

.card-subtitle span{
  font-family: "Calibri Light" !important;
}

.card-subtitle:hover > a{
  text-decoration: underline;
}

.card-title{
  display: block;
  padding: 5px 1px;
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
  text-transform: capitalize;
}

.card-title:hover{
  color: var(--se);
}

.card-title,
.card-text{
  color: var(--pr);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card .links iconify-icon{
  color: var(--te);
  transition: var(--transition);
}

.card .links iconify-icon:hover{
  scale: 1.1;
  color: var(--se);
}

.card .links .date{
  text-decoration: none;
  color: var(--te);
  transition: var(--transition);
}

.card .links .date:hover{
  scale: 1.1;
  color: var(--se);
}

.card-body header{
  padding: 5px 0;
  border-bottom: 1px solid var(--se);
}


.form-floating{
  width: 100%;
}

/* End Bootstrap Fixes */


/* Start General Styles */
body{
  background-color: var(--pr);
}

.page-slogan{
  text-align: center;
}

.page-slogan h1{
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
}

.page-slogan h1:first-of-type{
  color: var(--pr);
}

.page-slogan h1:last-of-type{
  color: var(--se);
}


.custom-list{
  padding: 0;
  list-style: none;
  border-radius: 10px;
}

footer {
  iconify-icon{
      font-size: 30px;
  }
}

.l-item{
  padding: 10px 0;
  width: 100%;
}

.custom-list .l-active{
  border-bottom: 1px solid var(--te);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--pr);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

iconify-icon{
  font-size: var(--fs);
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.grid .card{
  width: initial;
}

.v-m{
  width: 100%;
}

.view-more{
  width: 150px;
}

.center{
  display: grid;
  place-items: center;
}


.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  margin: 80px auto;
}

.section-title{
  color: var(--te);
  text-transform: capitalize;
  font-weight: 900;
}

.page-header{
  min-height: 600px;
  position: relative;
}


.secondary-header{
  min-height: auto;
}


.cards{
  place-content: center;
}


.card .carousel-item{
  max-height: 300px !important;
}


/* End General Styles */


/* Start General Header */

.nav-color{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: var(--pr);
  box-shadow: 0 0 10px #dddd;
}

.header-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  filter: brightness(0.3);
  top: 0;
  z-index: -1;
  background-image: url('../public/assets/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




.navbar .links a{
  color: var(--te);
  transition: var(--transition);
}

.navbar .links a:hover{
  color: var(--fo);
}

/* End General Header */



/* Start Range Inputs */

.range-wrap{
  width: 100%;
  position: relative;
}
.range-value{
  position: absolute;
  top: -50%;
  left: 9px;
}
.range-value span{
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: var(--se);
  color: var(--fo);
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}
.range-value span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid var(--se);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


/* End Range Inputs */





/* Start Footer */


footer {
  border-top: .1px solid var(--te);
  background-color: var(--pr);
  color: var(--fo);
}

footer a{
  text-decoration: none;
  transition: var(--transition);
}


footer input{
  max-width: 300px;
}

footer .l-item-title{
  text-align: center;
}


.site-map a{
  color: var(--fo);
}

.site-map a:hover{
  text-decoration: underline;
}

.site-map li:first-of-type{
  background-color: var(--se);
  color: var(--fo);
}


footer .container div{
  margin: 5px 0;
  place-content: center;
}


footer .l-sm .logo{
  width: 300px;
}

footer .l-sm .social-media{
  width: 300px;
}

footer .social-media iconify-icon{
  color: var(--te);
  transition: var(--transition);
}

footer .social-media iconify-icon:hover{
  color: var(--fo);
  scale: 1.1;
}


footer .developper{
  color: var(--te);
}

footer .developper:hover{
  color: var(--fo);
}

/* End Footer */
